In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="12345678",
    auth_plugin='mysql_native_password',
    database="mydb"
)
mycursor = mydb.cursor()
sql = "INSERT INTO `mask`(`id`, `adult`, `child`, `time`) VALUES (%s, %s, %s, %s)"
val = (1,1,1,"2020/03/04 22:00:40")
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [4]:
import pandas as pd

data = pd.read_csv('../0304.csv')
data.columns = ['id','adult','child','time']
data.columns 
data

                 id  adult  child                 time
0        0145080011   2179   1608  2020/03/04 22:00:40
1        0291010010    606    864  2020/03/04 22:00:40
2        2101010013    149   1837  2020/03/04 22:00:40
3        2101020019     16   1448  2020/03/04 22:00:40
4        2101090011      0   1160  2020/03/04 22:00:40
...             ...    ...    ...                  ...
1481047  5990010668   1166    860  2020/03/04 10:10:11
1481048  5990010677    422    320  2020/03/04 10:10:11
1481049  5990020020    494    332  2020/03/04 10:10:11
1481050  5990030044     96    120  2020/03/04 10:10:11
1481051  5990030062    258    224  2020/03/04 10:10:11

[1481052 rows x 4 columns]

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import time

tStart = time.time()
# MySQL的使用者：root, 密碼:147369, 埠：3306,資料庫：mydb
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/db_mask')
data.to_sql('mask', engine,if_exists='append')
tEnd = time.time()
print("Write to MySQL successfully!It cost %f sec"% (tEnd - tStart))

Write to MySQL successfully!It cost 53.089367 sec